body {
    margin: 0px;
    padding: 0px;
    display: grid;
        grid-template-columns: 85% 15%; 
        grid-template-rows: 100%;
        grid-column-gap: 0px;
        
}

#tablist #toolbar-container {
    overflow: hidden;
    white-space: nowrap;
}

.tabs {
    display: none;
}

#rootw, #sidew {
    height: 100vh;
    /*display: ;*/
}

#rootw .window {
    display: fixed;
}

#document {
    background-color: #ffffff;
    width: 100%;
    height: 85%;
}

dialog {
    display: flex;
    margin-top: 12%;
    padding: 0%;
    border: none;
}

#dialog-contents table {
    background-color: #00000000;
}

#diagnostic-ta {
    padding: 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;

    width: 90%;
    height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    text-align: justify;
}

#libta {
    width: 100%;
    height: 120px;
}